/*Lots of Selector Types, check out these links*/

/*  http://www.w3schools.com/cssref/css_selectors.asp */
/*  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors  */
/*  https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors */
/*Class selectors start with a dot . */

/* Class can be identified by a dot; */
.firstDiv{
  color: blue;
}

.secondDiv{
  color:red;
}


/* ID can be identified by # */
#singledout{
  color: green;
  text-decoration: line-through;
}

/* all elements except ID */
*{
  color:black;
}

/* more selecters can be found online */

/* combined section */
h3 + ul{
  border: 4px dotted purple;
}

li a{
  color:red;
}


li a[href="www.npr.org"]{
  color:blue;
  border: 5px solid orange;
}
