/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

h1{
  color: red;
}

li{
  color: rgb(14, 150, 158);
}

p{
  color: #8853ad;
}


h4{
  color: rgba(14, 150, 158, 0.9);
}
